.userselement {
    margin: 10px;
    border: 2px solid rgb(223, 31, 31);
    border-radius: 10px;
}

.smallAva{
    display:block;
    border-radius: 50% 50%;
    margin: 10px 5px;
}

.pageNumConteiner {
    max-width: 400px;
    overflow: hidden;
}

.pageItem {
    margin: 0 5px 0 0;
    cursor: pointer;
}

.currentPage {
    font-weight: bold;
}