.header {
    grid-area: h;
    width: 100%;
    background-color: #e44d3a;
}

.header img {
    width: 80px;
}

.loginName {
    float: right;
}

.loginName a {
    text-decoration: none;
    color: white;
}