.nav {
    grid-area: n;
    background-color: #fff;
    border: 1px solid#e5e5e5;
}

.item a{
    color: black;
    padding-left: 10px;
    text-decoration: none;
    font-weight: 700;
}

a.activeLink {
    color: gold;
}